name: sms_gateway
description: "Flutter SMS Gateway - Turn your Android device into an SMS gateway service"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter

  # UI and Material Design
  cupertino_icons: ^1.0.8
  
  # HTTP Server
  shelf: ^1.4.1
  shelf_router: ^1.1.4
  shelf_cors_headers: ^0.1.5
  
  # Database
  sqflite: ^2.3.0
  path: ^1.8.3
  
  # SMS and Telephony
  # flutter_sms: ^2.3.3  # Commented out due to namespace issues
  permission_handler: ^11.0.1
  
  # Background Service
  flutter_background_service: ^5.0.5
  android_alarm_manager_plus: ^4.0.3
  
  # Utilities
  uuid: ^4.1.0
  shared_preferences: ^2.2.2
  device_info_plus: ^9.1.0
  network_info_plus: ^4.1.0
  crypto: ^3.0.3
  url_launcher: ^6.3.0
  
  # State Management
  provider: ^6.1.1
  
  # HTTP Client (for testing)
  http: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^5.0.0
  
  # Icon generation
  flutter_launcher_icons: ^0.13.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - my_gcash.jpeg
    - assets/icon.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package

# Flutter Launcher Icons configuration
flutter_launcher_icons:
  android: true
  ios: true
  image_path: "app_icon.png"
  min_sdk_android: 21
  web:
    generate: true
    image_path: "app_icon.png"
  windows:
    generate: true
    image_path: "app_icon.png"
  macos:
    generate: true
    image_path: "app_icon.png"
